body {
    background-color: olive;
}

#flex-parent {
    display: flex;
    flex-direction: row;
    background-color: orangered;
}

#flex-parent p {
    padding: 5vw;
}

#flex-child1 {
    order: 2;
}

#flex-child2 {
    order: 3;
}

#flex-child3 {
    order: 1;
}

#flex-child4 {
    order: 0;
}

#grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

#grid-parent h1 {
    background-color: grey;
    padding: 3vw 5vh;
    margin: 0;
    text-align: center;
    border: 1px solid black;
}
